$main_margin: 50px;
$main_margin_top: 76px;
$main_margin_bottom: 50px;

$blog_margin: 25px;
$blog_margin_top: 35px;
$blog_margin_bottom: 25px;



$mobile_margin: 50px;
$mobile_margin_top: 60px;
$mobile_margin_bottom: 25px;


$placeHolderText: #ddd;
//$borderRadius: 5px;
$borderRadius: 0px;
$primaryCtaColor: #e94739;

$kmc_default_vertical_padding_top: $main_margin_top;
$kmc_default_vertical_padding_bottom: $main_margin_bottom;
$kmc_default_vertical_margin: 0;

$kmc_default_vertical_padding_mobile_top: $mobile_margin_top;
$kmc_default_vertical_padding_mobile_bottom: $mobile_margin_bottom;
$kmc_default_vertical_margin_mobile: 0;

// Section
$kmc_svs_sm: 10px;
$kmc_svs_md: 30px;
$kmc_svs_lg: 60px;
$kmc_svs_xl: 80px;

// Component
$kmc_vs_sm: 10px;
$kmc_vs_md: 30px;
$kmc_vs_lg: 80px;
$kmc_vs_xl: 120px;
