/**
 * 4.0 Elements
 */

hr {
  background-color: #3d3d39;
  border: 0;
  height: 1px;
  // margin-bottom: 1.6em;
  &.tiny {
    max-width: 115px;
  }
}

/*ul, ol {
  margin: 0 0 1.6em 1.3333em;
}*/

/*ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}*/
li > ul, li > ol {
  margin-bottom: 0;
}

dl {
  margin-bottom: 1.6em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.6em;
}

table, th, td {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: 700;
}

td {
  border-width: 0 1px 1px 0;
}

th, td {
  padding: 0.4em;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

del {
  opacity: 0.8;
}