@keyframes showHelpIcon {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#freshworks-container {
  
  &:before { 
        content: "";
        
        position: fixed;

        left: 22px;
        bottom: 20px;

        height: 60px;
        width: 60px;
        
        border: none;
        border-radius: 8px 34px 34px 34px;
        
        background-image: url(img/icons/lapoint_help_icon.svg);
        background-size: 68px;
        background-position-x: center;
        background-position-y: -1px;
        background-repeat: no-repeat;
        background-color: #e94739;

        box-shadow: 0 5px 4px 0 rgba(0,0,0,.26);    
        
        pointer-events: none;

        z-index: 2147483001;

        animation: showHelpIcon linear 0.66s;
  }

  #launcher-frame {
    opacity: 0;


  }
}

.launcher-button.cwygea {
  padding: 16px;
  .icon {
    display: none;
  }

}

.booking-frame-open {
    #fc_frame,
    #freshworks-container {
        //display: none;
        //visibility: hidden!important;
    }
}